@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Color palette variables */
/* :root {
  --color-bg: #CCDBDC;
  --color-accent: #9AD1D4;
  --color-primary: #003249;
  --color-secondary: #80CED7;
  --color-text: #007EA7;
  --color-bg-dark: #c5d8d8;
  --color-nav-bg: #66a1be;
} */

:root {
  --color-bg: white;
  --color-accent: white;
  --color-main-bg:
    linear-gradient(30.2deg, #062a56d3 -0.4%, #4a0870d3 60.1%),
    url('./noise.svg');
  --color-text: #00000;
  --color-bg-dark: #7f4bc01a;
  --color-nav-bg: rgb(224, 233, 250);
}

html {
  font-size: 1rem;
}

body {
  font-family: 'Rubik', sans-serif;
  background: var(--color-bg);
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root {
  height: 100vh;
}

.app-container {
  display: flex;
  height: 100vh;
  background: var(--color-main-bg);
  transition: all 0.5s ease-in-out;
}

@media only screen and (max-width: 600px) {
  .app-container {
    background-color: lightblue;
  }
}

@media (max-width: 50vw) {
  html {
    font-size: 0.4rem;
  }
}