@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Color palette variables */
/* :root {
  --color-bg: #CCDBDC;
  --color-accent: #9AD1D4;
  --color-primary: #003249;
  --color-secondary: #80CED7;
  --color-text: #007EA7;
  --color-bg-dark: #c5d8d8;
  --color-nav-bg: #66a1be;
} */

:root {
  --color-bg: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAcElEQVR4AYTPUQ6AMAgEUeKVuP8Reid5pJj61aSrw7A28YmIrJzHLD+nuA6jYBY8q6U4g4XCzJjreYqEBYkFc82KgLDA3jJsl4rkNYr9xW7ijTHs5u9nSEIJC+aa3UgIYYEFczgUiR7qYWEWXKpPvgAAAP//JYTdjAAAAAZJREFUAwA0uxbhy7VyUAAAAABJRU5ErkJggg==) repeat center/cover ;
  --color-accent: #ECFFB0;
  --color-primary: #9AA899;
  --color-secondary: #54577C;
  --color-text: #4A7B9D;
  --color-bg-dark: #512D38;
  --color-nav-bg: #ECFFB0;
}

html {
  font-size: 1rem;
}

body {
  font-family: 'Rubik', sans-serif;
  background: #FAF8F1;
  color: #334443;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root {
  height: 100vh;
}

.app-container {
  display: flex;
  height: 100vh;
  background: var(--color-primary);
  transition: all 0.5s ease-in-out;
}

@media only screen and (max-width: 600px) {
  .app-container {
    background-color: lightblue;
  }
}

@media (max-width: 50vw) {
  html {
    font-size: 0.4rem;
  }
}