.home-main-content {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  justify-content: center;
  overflow-y: auto;
  align-items: center;
  text-align: center;
  min-height: 92vh; /* Adjust based on your navbar height */
}

.home-flex h1 {
  margin-bottom: 0.75rem;
  font-size: 2.5rem;
  font-weight: 700;
}

.home-flex p {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-text);
}
