/* MainContent styles */
.tab-transition {
  opacity: 1;
  transform: none;
}

.tab-fade-in {
  animation: tabFadeIn 0.5s ease;
}


@keyframes tabFadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
