.top-nav-bar {
  width: 100%;
  background: var(--color-nav-bg);
  display: flex;
  /* justify-content: center;  */
  /* align-items: center; */
  box-sizing: border-box;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: sticky;
  height: 8vh;
}
.top-nav-bar ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: row;
  justify-content: space-evenly; /* changed from space-around */
  align-items: center;
  width: 100%;
  height: 100%;
  border-bottom: 1px dotted gray;
}

.top-nav-bar ul li:hover {
  background: var(--color-secondary);
  color: white;
  
}

.top-nav-bar ul li:hover .nav-icon {
  color: white;
  filter: brightness(0) invert(1);

}
.nav-item {
  display: flex;
  flex: 1; /* changed from width: 10% */
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  transition: background 0.3s;
  height: 100%;
  justify-content: center;
}
.nav-icon {
  font-size: 0.5rem;
  color: var(--color-primary);
  padding-top: 1rem;
  width: 100%;
}
.nav-label {
  /* margin-top: 0.25rem; */
  font-size: 0.8rem;
  color: var(--color-primary);
  font-weight: 450;
  text-align: end;
  opacity: 0;
  transition: opacity 0.2s;
}
.top-nav-bar ul li:hover .nav-label {
  opacity: 1;
}